.title {
  font-family: 'Oswald', sans-serif;
  text-shadow: 1px 1px 1px #fff;
  color: #213f5e;
}
#paragraph{
  text-shadow: 1px 1px 1px #000;
  color: #fff;
}
h1 {
  font-size: 50px;
}
#home {
  padding-top: 125px;
  padding-bottom: 400px;
  background: url("../images/backgrounds/ggsunset.jpg") no-repeat center fixed;
  background-size: cover;
  position: relative;
}
#page2 {
  background: url("../images/backgrounds/panda.jpg") no-repeat center fixed;
  background-size: cover;
  padding-top: 55px;
  padding-bottom: 300px;
  position: relative;
}
.smaller-image {
  width: 100%;
  border-radius: 30px;
}
#portfolio {
  background: url("../images/backgrounds/rattlesnake.jpg") no-repeat center fixed;
  background-size: cover;
  padding-top: 55px;
  padding-bottom: 100px;
  position: relative;
}
/* Social media buttons
borrowed from http://codepen.io/microMolvi/pen/ZQJgrY */
.btn-social {
  background-color: #222222;
  color: #fff;
  width: 150px;
  font-size: 16px;
  margin-top: 5px;
  box-shadow: 1px 1px 2px #aaa;
  border: 0px;
}

#portfolio h1 {
  color: #FFF;
  font-family: 'Oswald', sans-serif;
  text-shadow: 1px 1px 1px #000;
}

#portfolio img {
  border: 1px solid rgba(0,0,0,.3);
  margin: 0;
}
#portfolio h3 {
  margin: 5px;
}

#portfolio .well {
  margin: 0;
}

ul {
    list-style-position: inside;
}


@media (min-width: 1824px) {
    #home {
      padding-top: 200px;
      padding-bottom:550px;
      background: url("../images/backgrounds/ggsunset.jpg") no-repeat center fixed;
      background-size: cover;
      position: relative;
    }
    #page2 {
      background: url("../images/backgrounds/panda.jpg") no-repeat center fixed;
      background-size: cover;
      padding-top: 150px;
      padding-bottom: 400px;
      position: relative;
    }
}
